<div class="sidebar">
  <div data-name="list" class="list">
    <div class="item">
      <%= image_tag "missing.png" %>
      <div class="arrow"></div>
      <div class="indicator"></div>
      <div class="body">
        <span class="from">${from}</span>
        <span class="subject">${subject}</span>
      </div>
    </div>
  </div>
</div>

<div class="vdivide"></div>

<div class="main">
  <ul class="options">
    <li data-name="butMove">Move to Inbox</li>
  </ul>
  
  <div class="activity" data-name="selected">
    <span class="from">${from}</span>
    <span class="subject">${subject}</span>
  </div>
</div>