<div class="sidebar">
  <div class="search">
    <input type="search" placeholder="Search" results="0" incremental="true" data-name="search" autofocus>
  </div>
  
  <div data-name="list" class="list">
    <div class="item">
      <%= image_tag "missing.png" %>
      <div>
        {{if fullName()}}
          <span>${fullName()}</span>
        {{else}}
          <span class="empty">No Name</span>
        {{/if}}
        <span class="cta">&gt;</span>
      </div>
    </div>
  </div>
  
  <footer>
    <button data-name="butNew">New contact</button>
  </footer>
</div>

<div class="vdivide"></div>

<div class="main">
  <ul class="options">
    <div data-name="showToolbar">
      <li data-name="butEdit">Edit contact</li>
      <li data-name="butVCard">Export as VCard</li>
      <li data-name="butEmail">Email contact</li>
    </div>
    
    <div data-name="editToolbar">
      <li data-name="butSave" class="default">Save contact</li>
      <li data-name="butDelete">Delete contact</li>
    </div>
  </ul>
  
  <div data-name="selected" class="contact">
    <div data-name="showView">
      <div class="panel">
        <header>
          <%= image_tag "missing.png" %>
        
          <div class="bio">
            He's just this guy you know. Some more dummy text about startups / jobs.
          </div>
        </header>
      
        <hr />
      
        Facebook, LinkedIn, Twitter
      </div>
      
      <label>
        <span>Name</span>
        ${first_name} ${last_name}
      </label>

      <label>
        <span>Email</span>
        {{if email}}
          ${email}
        {{else}}
          <div class="empty">Blank</div>
        {{/if}}
      </label>
  
      {{if mobile}}
      <label>
        <span>Mobile number</span>
        ${mobile}
      </label>
      {{/if}}

      {{if work}}
      <label>
        <span>Work number</span>
        ${work}
      </label>
      {{/if}}

      {{if address}}
      <label>
        <span>Address</span>
        <pre>${address}</pre>
      </label>
      {{/if}}

      <label>
        <span>Notes</span>
        {{if notes}}
          ${notes}
        {{else}}
          <div class="empty">Blank</div>
        {{/if}}
      </label>
    </div>
    
    <form class="hide" data-name="editView">
      <label>
        <span>First name</span>
        <input type="text" name="first_name" value="${first_name}" autofocus>
      </label>
      
      <label>
        <span>Last name</span>
        <input type="text" name="last_name" value="${last_name}">
      </label>
      
      <label>
        <span>Email</span>
        <input type="text" name="email" value="${email}">
      </label>
    
      <label>
        <span>Mobile number</span>
        <input type="text" name="mobile" value="${mobile}">
      </label>
  
      <label>
        <span>Work number</span>
        <input type="text" name="work" value="${work}">
      </label>

      <label>
        <span>Address</span>
        <textarea name="address">${address}</textarea>
      </label>

      <label>
        <span>Notes</span>
        <textarea name="notes">${notes}</textarea>
      </label>
    </form>
  </div>
</div>