<div class="sidebar">
  <div class="inner">
    <div data-name="conversations" class="list">
      <div class="item">
        <%= image_tag "missing.png" %>
        <div>
          <span class="subject">${subject}</span>
          <span class="body">${body}</span>
          <span class="timestamp">7:42 pm</span>
        </div>
      </div>
    </div>

    <div class="more" data-name="butMore">
      Load archived...
    </div>
  </div>
</div>

<div class="vdivide"></div>

<div class="main">
  <div class="options">
    <ul>
      <li>Archive</li>
      <li class="drop">
        Convert...
        <ul>
          <li>To Task</li>
          <li>To Activity</li>
        </ul>
      </li>
    
      <div class="right">
        <li data-name="butPrevious">Previous</li>
        <li data-name="butNext">Next</li>
      </div>
    </ul>
  </div>
    
  <div class="emails">
    <div class="item edit">
      <%= image_tag "missing.png", :class => "avatar" %>
      <div class="arrow"></div>
      <ul class="editControls" data-name="editControls">
        <li><a href="#" data-type="bold">Bold</a></li>
        <li><a href="#" data-type="italic">Italic</a></li>
        <li><a href="#" data-type="link">Link</a></li>
        <li><a href="#" data-type="list">List</a></li>
        <li><a href="#" data-type="attachment">Attachment</a></li>
        
        <div class="right">
          <li><a href="#" class="default" data-name="butSend">Send</a></li>
        </div>
      </ul>
      <div class="body">
        <div class="editArea" data-name="editArea" tabindex="1">
        </div>
        
        <div class="attachments" data-name="editAttachments">
        </div>
      </div>
    </div>
    
    <div data-name="messages">
      <div class="item">
        <%= image_tag "missing.png", :class => "avatar" %>
        <div class="arrow"></div>
        <div class="body"></div>
        <div class="timestamp">7:42 pm</div>
        <div class="attachments"></div>
      </div>
    </div>
  </div>
</div>