<div class="vdivide emaildivide"><span>Emails</span></div>

<div class="sidebar">
  <div class="create">
    <form data-name="form">
      <input type="text" placeholder="Task name" data-name="formName" autofocus>
      <button class="pill">Create</button>
    </form>
  </div>
  
  <div data-name="list" class="list">
    <div class="item">
      <input type="checkbox">
      <span class="name">${name}</span>
      <span class="cta">&gt;</span>
    </div>
  </div>
</div>

<div class="vdivide"></div>

<div class="main">
  <ul class="options">
    <li data-name="butComplete">Complete task</li>
    <li data-name="butUncomplete">Re-Open task</li>
    <li data-name="butDelete">Delete task</li>
  </ul>
  
  <div data-name="selected" class="contact">  
    <span>${name}</span>
  </div>
</div>